body {
	font-size: 15px;
	margin: auto;
	width: 700px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
    font-family: Helvetica, serif;
	background-color: white;
	color: black;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    height: 270px; /* Should be removed. Only for demonstration */
}

.left {
  width: 400px;
}

.right {
  width: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


hr {
width: 700px;
margin-left: auto;
margin-right: auto;
height: 1px;
background-color:#666;
opacity: 0.5;
}

/* unvisited link */
a:link {
    color: #606060;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #606060;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #909090;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #909090;
    text-decoration: none;
}


.menu {
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 50px;
}

.textblock {
	padding-bottom: 40px;
}

.textblock3 {
	padding-bottom: 20px;
}

.textblock2 {
	padding-left: 10px;
	padding-bottom: 20px;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

ul.b {
    list-style-type: square;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;  /* Scale images to fit within the container */
    height: auto;
    margin-top: 30px;
}

footer {
            background-color: white;
            padding: 10px;
            text-align: center;
            color: grey;
}

footer p {
    margin: 0;
}

.blog-post {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.post-thumbnail {
    width: 100px; /* Adjust width as desired */
    height: 100px; /* Set a fixed height (adjust as needed) */
    margin-right: 10px;
    border-radius: 10px; /* Corner rounding */
    object-fit: cover;   /* Preserves aspect ratio and crops */
}

.post-thumbnail:hover {
    opacity: 0.8;  /* Example: slightly reduce opacity on hover */
    cursor: pointer; /* Change cursor to a pointer hand */
}

.post-content {
    flex: 1;
}

details summary:hover {
    cursor: pointer;
}

figure {
    display: inline-block;
    margin: 20px; /* adjust as needed */
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
    color: grey;
}

/* Basic container */
.hamburger-menu {
    position: relative; /* Or relative, if you want it within another container */
    /* top: 15px; */
    right: 15px;
    z-index: 100; /* Ensure it's on top of other elements */
}

/* Hide the checkbox */
.hamburger-menu input[type="checkbox"] {
  display: none;
}

/* Style the hamburger icon */
.menu-icon {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute; /* Added position: absolute */
  top: 20px; /* Adjust as needed */
  right: 15px; /* Adjust as needed */
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333; /* Customize color as needed */
  margin: 5px 0;
}

/* Style the menu */
.nav {
  display: none; /* Initially hidden */
  position: absolute;
  background-color: #fff; /* Customize color as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;  /* Reduced padding */
  border-radius: 5px;
  right: 0;
  top: 45px; /* Below the hamburger icon */
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav a {
  display: block;
  text-decoration: none;
  color: #333; /* Customize color as needed */
  font-size: 16px;  /* Increased font size */
  padding: 5px 10px;  /* Reduced padding */
  opacity: 1;
}

/* Hover effect */
.nav a:hover {
  opacity: 0.6; /* Slight opacity reduction on hover */
}

.nav li a {
  display: block;
  text-decoration: none;
  color: #333; /* Customize color as needed */
  padding: 8px 0;
}

  /* Show the menu on when the 'show' class is added */
.nav.show {
    display: block;
}

/* Show the menu on hover */
.hamburger-menu:hover .nav {
    display: block;
}

/* Opacity change on icon hover */
.menu-icon:hover {
    opacity: 0.6; /* Adjust opacity value as needed */
}

  /* In your styles.css file */
.post-title {
    padding-right: 50px; /* Adjust the value as needed */
  }

body blockquote {
    color: #676767;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}