<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/styles.css">
     <!-- for mathjax support -->
    {% if page.usemathjax %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
            TeX: { equationNumbers: { autoNumber: "AMS" }, Macros: { bm: ["{\\boldsymbol #1}", 1] } },
            });
        </script>
        <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    <title>{{ page.title }}</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
</head>
<body>
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date_to_string }}</p>

    {{ content }}
</body>
</html>