<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/styles.css">
     <!-- for mathjax support -->
    {% if page.usemathjax %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
            TeX: { equationNumbers: { autoNumber: "AMS" }, Macros: { bm: ["{\\boldsymbol #1}", 1] } },
            });
        </script>
        <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    <title>{{ page.title }}</title>
    {% include hamburger_menu.html %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    <meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">
</head>
<body>
    <div class="post-title"> <h1>{{ page.title }}</h1>
    <p>{{ page.author }}, {{ page.date | date_to_string }}</p>

    {{ content }}

    <script>
        // Check for touchscreen devices
        const isTouchDevice = 'ontouchstart' in window || navigator.maxTouchPoints > 0;

        // Target the hamburger menu, menu, and the document for event listeners
        const hamburgerMenu = document.querySelector('.hamburger-menu');
        const navMenu = document.querySelector('.nav');

        // Event listener for the hamburger menu
        hamburgerMenu.addEventListener(isTouchDevice ? 'click' : 'mouseover', () => {
          navMenu.classList.toggle('show');
        });

        // Event listener to close the menu when clicking outside of it
        document.addEventListener('click', (event) => {
          // If the click didn't happen inside the menu or the hamburger icon, and
          // the menu is visible, then remove the 'show' class.
          if (!hamburgerMenu.contains(event.target) && !navMenu.contains(event.target) && navMenu.classList.contains('show')) {
            navMenu.classList.remove('show');
          }
        });
    </script>
</body>
</html>